.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 31.7%;
    padding: 10px;
}

.cell {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    font-size: 70px;
}

.button {
    border-radius: 1px;
    font-size: 20px;
    background-color: #008CBA;
}

.title {
    text-align: center;
}

table.history {
    border-collapse: collapse;
    width: 100%;
}

table.history tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.history th {
    background-color: #4CAF50;
    color: white;
}

table.history td {
    text-align: left;
    padding: 8px;
}